@import "tailwindcss";

:root {
  --color-primary: #16a34a;
  --color-primary-hover: #15803d;
  --color-primary-light: #f0fdf4;
  --color-primary-foreground: #ffffff;

  --color-background: #f8fafc;

  --color-surface: #ffffff;
  --color-surface-secondary: #f1f5f9;
  /* --color-sidebar:#0F172A; */

  --color-text-primary: #0f172a;
  --color-text-secondary: #475569;
  --color-text-muted: #64748b;
  --color-text-on-primary: #ffffff;


  --color-border: #e2e8f0;
  --color-border-strong: #cbd5e1;


  --color-success: #16a34a;
  --color-success-light: #f0fdf4;
  --color-success-border: #bbf7d0;


  --color-warning: #d97706;
  --color-warning-light: #fffbeb;
  --color-warning-border: #fde68a;

  --color-danger: #dc2626;
  --color-danger-light: #fef2f2;
  --color-danger-border: #fecaca;

  --color-info: #0284c7;
  --color-info-light: #f0f9ff;
  --color-info-border: #bae6fd;

  --color-input-background: #0a0808;
  --color-input-border: #cbd5e1;
  --color-input-placeholder: #94a3b8;
  --color-input-focus: #2563eb;


  --color-table-header: #f8fafc;
  --color-table-row: #ffffff;
  --color-table-row-hover: #f8fafc;
  --color-table-border: #e2e8f0;


  --color-sidebar: #0F172A;
  --color-sidebar-text: #cbd5e1;
  --color-sidebar-text-active: #3FAE2A;
  --color-sidebar-active: #14532d;
  --color-sidebar-border: #334155;

  --shadow-card: 0 1px 3px rgba(15, 23, 42, 0.08);

  --shadow-dropdown:
    0 4px 6px rgba(15, 23, 42, 0.08),
    0 10px 15px rgba(15, 23, 42, 0.05);


  --radius-sm: 6px;
  --radius-md: 8px;
  --radius-lg: 12px;
  --radius-xl: 16px;

  --spacing-page: 24px;
  --spacing-section: 32px;
}

@theme inline {
   --color-primary:var(--color-primary);

  --color-background: var(--color-background);

  --color-text-primary: var(--color-text-primary);
  --color-text-secondary: var(--color-text-secondary);
  --color-text-muted:var(--color-text-muted);
  --color-text-on-primary:var(--color-text-on-primary);

  --color-sidebar-text-active:var(--color-sidebar-text-active);
  --color-sidebar-active: var(--color-sidebar-active);
  --color-sidebar:var(--color-sidebar);
  --color-sidebar-text:var(--color-sidebar-text);

  --font-inter: var(--font-inter-variable);
}

.dark{
  --color-background: #0f172a;

  --color-surface: #1e293b;
  --color-surface-secondary: #334155;

  --color-text-primary: #f8fafc;
  --color-text-secondary: #cbd5e1;
  --color-text-muted: #94a3b8;

  --color-border: #334155;
  --color-border-strong: #475569;

  --color-input-background: #1e293b;
  --color-input-border: #475569;
  --color-input-placeholder: #64748b;

  --color-table-header: #1e293b;
  --color-table-row: #1e293b;
  --color-table-row-hover: #334155;
  --color-table-border: #334155;

  --color-sidebar: #1e293b;
  --color-sidebar-text: #cbd5e1;
  --color-sidebar-text-active: #4ade80;
  --color-sidebar-active: #14532d;
  --color-sidebar-border: #334155;

  --color-primary: #22c55e;
  --color-primary-hover: #16a34a;
  --color-primary-light: #14532d;
}

li{
  cursor: pointer;
}